@model List<Quiz>
@{
	string role = UserLogin.Instance.RoleID;
}
<!DOCTYPE html>
<html lang="en">

<head>
	@Html.Partial("_head")
</head>

<body>
	@Html.Partial("_navStart")
	@if (UserLogin.Instance.RoleID != "Lecturer")
	{
		<a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
		<a href="@Url.Action("About", "Home")" class="nav-item nav-link">About US</a>
		<a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Contact</a>
	}
	<a href="@Url.Action("Course", "Home")" class="nav-item nav-link">Course</a>
	@Html.Partial("_navEnd")
	<!-- tab search dictionary -->
	<div class="container-fluid bg-primary mb-5 hero-header">
		<div class="container py-1">
			<div class="row justify-content-center" style="margin-top: 100px">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">Test your ability</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- Quiz Start -->
	<div class="container">
		@if(UserLogin.Instance.RoleID == "Student")
		{
			<form action="@Url.Action("Quiz","Quiz")" class="row col-6 justify-content-center" method="post">
				<div class="form-group col-9">
					<p>Your course: </p>
					<select name="courseChoise" class="form-control">
						@foreach (var courseChoise in UserLogin.Instance.Courses)
						{
							<option value="@(courseChoise.Id)">
								@(courseChoise.Title)
							</option>
						}
					</select>
				</div>
				<button id="btnSub" type="submit" class="btn col-3 btn-primary">Change questions by course</button>
			</form>
		}

		@if (UserLogin.Instance.RoleID != "Lecturer")
		{
			<form action="@Url.Action("SubmitQuiz","Quiz")" class="form-control justify-content-center" method="post">
				<table class="table table-striped text-center">
					<tbody>
						@foreach (var quiz in Model)
						{
							<tr>
								<td colspan="4">@quiz.Question</td>
							</tr>
							<tr>
								<td>
									<input type="radio" class="form-check-input" name="answer[@(quiz.Id)]" value="@quiz.AnswerA" />
									<label class="form-check-label">
										A: @quiz.AnswerA
									</label>

									<input type="radio" class="form-check-input" name="answer[@(quiz.Id)]" value="@quiz.AnswerB" />
									<label class="form-check-label">
										B: @quiz.AnswerB
									</label>

									<input type="radio" class="form-check-input" name="answer[@(quiz.Id)]" value="@quiz.AnswerC" />
									<label class="form-check-label">
										C: @quiz.AnswerC
									</label>

									<input type="radio" class="form-check-input" name="answer[@(quiz.Id)]" value="@quiz.AnswerD" />
									<label class="form-check-label">
										D: @quiz.AnswerD
									</label>
								</td>
							</tr>
						}
						<tr>
							<input type="radio" id="checkSubmit" class="form-check-input" />
							<label class="form-check-label">
								<b>I was sure to submit the post</b>
							</label>
							<div id="btnSubmit" style="display: none" class="container justify-content-center">
								<input type="submit" class="btn btn-primary" value="Done" />
							</div>
						</tr>
					</tbody>
				</table>
			</form>
		}
	</div>
	<!-- Quiz End -->
	@Html.Partial("_footer")
	@Html.Partial("_endScript")
	<script>
		var checkSubmit = document.querySelector("#checkSubmit");
		var tbnSubmit = document.querySelector("#btnSubmit");
		checkSubmit.addEventListener('click', (e) => {
			if (e.target.checked) {
				tbnSubmit.style.display = "block";
			} else {
				tbnSubmit.style.display = "none";
			}
		})
	</script>
</body>

</html>